<section class="chat-section">
    <h1 class="chat-title">Chat General</h1>
    <div class="chat-container">
        <div class="chat-card">
            <ul id="messageLogs" class="message-ul">
                <p>Mensajes</p>
            </ul>
        </div>
        <div class="chat-send">
            <input class="chat-input" type="text" id="chatbox" placeholder="Escribe un mensaje">
            <button class="chat-button" id="sendButton">Enviar</button>
        </div>
    </div>
</section>

<script>
    const user = "{{user.email}}"
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>