<section>
    <h1>Solicitud para recuperar password</h1>
    <form id="forgotPassForm" action="/api/sessions/forgot-password" method="POST" class="forgotPass-form">
        <label for="email" class="">Email</label><br>
        <input type="text" name="email" placeholder="Ingrese su email" class=""><br>

        <label for="confirmEmail" class="">Confirme su email</label><br>
        <input type="text" name="confirmEmail" placeholder="Ingrese su email" class=""><br>


        {{!-- <label for="password" class="login-label">Password</label><br>
        <input type="password" name="password" placeholder="Ingrese el password" class=""><br> --}}

        <button type="submit" class="login-button">Enviar solicitud</button>
    </form>
</section>