<section class="welcome-section">
    <p class="animate" id="text"></p>
    <div class="stage">
        <div class="diamond rotor-x">
            <div class="diamond rotor-y">
                <div class="diamond rotor-z">
                    <!-- Bottom Down Triangles -->
                    <div class="triangle bottom face-1"></div>
                    <div class="triangle bottom face-2"></div>
                    <div class="triangle bottom face-3"></div>
                    <div class="triangle bottom face-4"></div>
                    <div class="triangle bottom face-5"></div>
                    <div class="triangle bottom face-6"></div>
                    <div class="triangle bottom face-7"></div>
                    <div class="triangle bottom face-8"></div>

                    <!-- Middle Bottom Triangles -->
                    <div class="triangle middle-bottom face-1"></div>
                    <div class="triangle middle-bottom face-2"></div>
                    <div class="triangle middle-bottom face-3"></div>
                    <div class="triangle middle-bottom face-4"></div>
                    <div class="triangle middle-bottom face-5"></div>
                    <div class="triangle middle-bottom face-6"></div>
                    <div class="triangle middle-bottom face-7"></div>
                    <div class="triangle middle-bottom face-8"></div>

                    <!-- Middle Top Triangles -->
                    <div class="triangle middle-top face-1"></div>
                    <div class="triangle middle-top face-2"></div>
                    <div class="triangle middle-top face-3"></div>
                    <div class="triangle middle-top face-4"></div>
                    <div class="triangle middle-top face-5"></div>
                    <div class="triangle middle-top face-6"></div>
                    <div class="triangle middle-top face-7"></div>
                    <div class="triangle middle-top face-8"></div>

                    <!-- Top Triangles -->
                    <div class="triangle top face-1"></div>
                    <div class="triangle top face-2"></div>
                    <div class="triangle top face-3"></div>
                    <div class="triangle top face-4"></div>
                    <div class="triangle top face-5"></div>
                    <div class="triangle top face-6"></div>
                    <div class="triangle top face-7"></div>
                    <div class="triangle top face-8"></div>

                </div>
            </div>
        </div>
        <div class="sparkle-wrap-1">
            <div class="sparkle-1"></div>
        </div>
        <div class="sparkle-wrap-2">
            <div class="sparkle-2"></div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const textElement = document.getElementById('text');
        const texts = [
            "Bienvenido a Cristal",
            "Un lugar donde podes comprar",
            "Y vender"
        ];
        let index = 0;

        function showText() {
            textElement.textContent = texts[index];
            textElement.classList.add('show');
            textElement.classList.remove('hide');
            setTimeout(hideText, 2000); // Tiempo que el texto permanece visible
        }

        function hideText() {
            textElement.classList.add('hide');
            textElement.classList.remove('show');
            index = (index + 1) % texts.length; // Ciclo a través de los textos
            setTimeout(showText, 1000); // Tiempo entre la desaparición y la aparición del siguiente texto
        }

        showText();
    });
</script>