<style>
/* Estilos para los elementos */
</style>
<h1>Lista de links</h1>
<div>
    <ul>
        {{!-- <li><a href="http://localhost:8080/users/">users</a></li> --}}
        <li><a href="http://localhost:8080/api/products/products/ud">products</a></li>
        {{!-- <li><a href="http://localhost:8080/carts/">carts</a></li> --}}
        <li><a href="http://localhost:8080/messages/">messages</a></li>
        {{!-- <li><a href="http://localhost:8080/multer/">multer</a></li> --}}
        <li><a href="http://localhost:8080/realtimeproducts/">realtimeproducts</a></li>
        <li><a href="http://localhost:8080/api/carts/carts/65b830c5d2b1935598426a25">Aqui esta un ejemplo del detalle del producto agregado al carrito</a></li>
    </ul>
</div>