<section class="welcome-section">
    <h1>Bienvenido a mi E-commerce</h1>
    <p>Somos tu tienda en línea especializada en smartphones de las marcas más reconocidas.</p>
</section>

<section class="brand-descriptions">
    <div class="brand">
        <img src="https://1000logos.net/wp-content/uploads/2016/10/Apple-Logo.png" alt="iPhone" class="brand-logo">
        <h2>iPhone</h2>
        <p class="brand-description">Descubre la elegancia y la innovación con los últimos modelos de iPhone. Con características revolucionarias y un diseño incomparable, iPhone te ofrece una experiencia móvil incomparable.</p>
    </div>
    <div class="brand">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Samsung_Logo.svg" alt="Samsung" class="brand-logo">
        <h2>Samsung</h2>
        <p class="brand-description">Explora el mundo de la tecnología con los smartphones Samsung Galaxy. Desde pantallas impresionantes hasta cámaras potentes, los dispositivos Samsung te ofrecen un rendimiento excepcional y una experiencia móvil sin límites.</p>
    </div>
    <div class="brand">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Xiaomi_logo.svg" alt="Xiaomi" class="brand-logo">
        <h2>Xiaomi</h2>
        <p class="brand-description">Sumérgete en la innovación con los dispositivos Xiaomi. Con una combinación perfecta de calidad, rendimiento y precio, los smartphones Xiaomi te brindan una experiencia móvil excepcional que se adapta a tu estilo de vida.</p>
    </div>
</section>
