<center>
    <form id="loginForm" action="/api/sessions/login" method="POST">
        <label for="email">Email</label><br>
        <input type="text" name="email" placeholder="Ingrese el email"><br>
        <label for="password">Password</label><br>
        <input type="text" name="password" placeholder="Ingrese el password"><br>
        <button type="submit">Enviar</button>
    </form>
    <a href="/register">Registrarse</a><br>
    <a href="/api/sessions/github">GITHUB</a>
</center>