<section class="login-section">
    <div class="login-section-1">
        <p>Login</p>
        <form id="loginForm" class="login-form">
            {{!-- <label for="email" class="login-label">Email</label><br> --}}
            <input type="text" name="email" placeholder="Email" class="login-input">
            {{!-- <label for="password" class="login-label">Password</label><br> --}}
            <input type="password" name="password" placeholder="Password" class="login-input">
            <a href="/forgotPassword" class="forgotpass-link">¿Has olvidado la contraseña?</a>
            <button type="submit" class="login-button">Enviar</button>
        </form>
    </div>
    <div class="login-section-2">
        <p class="text-1">Hola, Usuario!</p>
        <p class="text-2">Si no tienes una cuenta puedes registrarte haciendo click en el botón de aquí abajo</p>
        <img src="/image/login/image-1.png" class="img-1" alt="">
        <a href="/register" class="register-link">Registrarse</a>
    </div>
</section>

<script>
    const handleSubmit = function (evt){
        evt.preventDefault()
        let email = document.querySelector('input[name="email"]').value
        let password = document.querySelector('input[name="password"]').value
        //console.log(email, password)
        fetch('/api/sessions/login',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email ,
                password 
            })
        })
        .then(response => {
            if (response.ok) {
                // Si la solicitud se completa correctamente, redirigir al usuario al inicio
                window.location.href = '/inicio'; // Cambia '/inicio' con la URL de tu página de inicio
            } else {
                // Manejar errores de respuesta aquí
                console.error('Error en la solicitud de inicio de sesión:', response.statusText);
            }
        })
        .catch(error => {
            // Manejar errores de red o solicitud aquí
            console.error('Error en la solicitud de inicio de sesión:', error);
        });
    }

    document.querySelector('#loginForm').addEventListener('submit', handleSubmit)

</script>