<section class="register-section">
    {{!-- <form action="/api/sessions/register" method="POST">
        <label for="first_name">Nombre</label><br>
        <input type="text" name="first_name" placeholder="Ingrese el Nombre"><br>
        <label for="last_name">Apellido</label><br>
        <input type="text" name="last_name" placeholder="Ingrese el Apellido"><br>
        <label for="email">Email</label><br>
        <input type="text" name="email" placeholder="Ingrese el email"><br>
        <label for="password">Password</label><br>
        <input type="text" name="password" placeholder="Ingrese el password"><br>
        <button>Enviar</button>
    </form> --}}
    <form action="/api/sessions/register" method="POST" class="register-form">
        <label for="first_name" class="register-label">Nombre</label><br>
        <input type="text" name="first_name" placeholder="Ingrese el Nombre" class="register-input"><br>
        <label for="last_name" class="register-label">Apellido</label><br>
        <input type="text" name="last_name" placeholder="Ingrese el Apellido" class="register-input"><br>
        <label for="email" class="register-label">Email</label><br>
        <input type="text" name="email" placeholder="Ingrese el email" class="register-input"><br>
        <label for="password" class="register-label">Password</label><br>
        <input type="password" name="password" placeholder="Ingrese el password" class="register-input"><br>
        <button class="register-button">Enviar</button>
    </form>
    <a href="/login" class="login-link">Iniciar sesión</a><br>
</section>