<center>
    <form action="/api/sessions/register" method="POST">
        <label for="first_name">Nombre</label><br>
        <input type="text" name="first_name" placeholder="Ingrese el Nombre"><br>
        <label for="last_name">Apellido</label><br>
        <input type="text" name="last_name" placeholder="Ingrese el Apellido"><br>
        <label for="email">Email</label><br>
        <input type="text" name="email" placeholder="Ingrese el email"><br>
        <label for="password">Password</label><br>
        <input type="text" name="password" placeholder="Ingrese el password"><br>
        <button>Enviar</button>
    </form>
</center>