.navBar-position {
    position: absolute;
}

.welcome-section {
    height: 500px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    overflow: hidden; */
    /* height: 200px; */
    margin-bottom: 50px;
}

.welcome-section h1 {
    color: white;
    margin: 0;
}
.welcome-section p {
    color: white;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

.animate {
    margin: 20px 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s, opacity 1s;
    width: 300px;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

.animate.hide {
    opacity: 0;
    transform: translateY(-100%);
}

/* .brand-descriptions {
    text-align: center;
    padding: 50px 0;
}

.brand {
    margin-bottom: 40px;
}

.brand-logo {
    width: 150px;
    height: auto;
}

.brand h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.brand-description {
    font-size: 1.1em;
    color: #666;
    line-height: 1.6;
}

.brand-description {
    max-width: 600px;
    margin: 0 auto;
}



.brand-descriptions {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.brand {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    transition: transform 0.3s ease;
}

.brand:hover {
    transform: translateY(-5px);
}

.brand img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.brand h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.brand p {
    font-size: 1rem;
    line-height: 1.5;
} */

/* Dimante 1 */

.stage {
    position: relative;
    /* top: 50vh;
    left: 50vw; */
    width: 0;
    height: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

.diamond {
    transform-origin: 0 0;
    transform-style: preserve-3d;
    overflow: visible;
}

.triangle {
    position: absolute;
    left: -100px;
    top: -30px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #000;
    /* filter: drop-shadow(0px 0px 3px #fff); */
    filter: drop-shadow(1px 1px 1px #000000);
    animation: lighting 12s infinite linear;
}

/* Bottom Down */
.triangle.bottom {
    transform-origin: 50% 0%;
}

.triangle.bottom.face-1 {
    animation-delay: -2500ms;
    transform: translateY(90px) rotateY(0deg) rotateX(35deg) scaleX(.24) scaleY(-1);
}

.triangle.bottom.face-2 {
    animation-delay: -3500ms;
    transform: translateY(90px) rotateY(45deg) rotateX(35deg) scaleX(.24) scaleY(-1);
}

.triangle.bottom.face-3 {
    animation-delay: -4500ms;
    transform: translateY(90px) rotateY(90deg) rotateX(35deg) scaleX(.24) scaleY(-1);
}

.triangle.bottom.face-4 {
    animation-delay: -5500ms;
    transform: translateY(90px) rotateY(135deg) rotateX(35deg) scaleX(.24) scaleY(-1);
}

.triangle.bottom.face-5 {
    animation-delay: -6500ms;
    transform: translateY(90px) rotateY(180deg) rotateX(35deg) scaleX(.24) scaleY(-1);
}

.triangle.bottom.face-6 {
    animation-delay: -7500ms;
    transform: translateY(90px) rotateY(225deg) rotateX(35deg) scaleX(.24) scaleY(-1);
}

.triangle.bottom.face-7 {
    animation-delay: -8500ms;
    transform: translateY(90px) rotateY(270deg) rotateX(35deg) scaleX(.24) scaleY(-1);
}

.triangle.bottom.face-8 {
    animation-delay: -9500ms;
    transform: translateY(90px) rotateY(315deg) rotateX(35deg) scaleX(.24) scaleY(-1);
}

/* Middle Bottom */
.triangle.middle-bottom {
    transform-origin: 50% 0;
}

.triangle.middle-bottom.face-1 {
    animation-delay: -3500ms;
    transform: rotateY(0deg) translateY(-11px) translateZ(-34px) rotateX(-50deg) scaleX(.24) scaleY(.3);
}

.triangle.middle-bottom.face-2 {
    animation-delay: -4500ms;
    transform: rotateY(45deg) translateY(-11px) translateZ(-34px) rotateX(-50deg) scaleX(.24) scaleY(.3);
}

.triangle.middle-bottom.face-3 {
    animation-delay: -5500ms;
    transform: rotateY(90deg) translateY(-11px) translateZ(-34px) rotateX(-50deg) scaleX(.24) scaleY(.3);
}

.triangle.middle-bottom.face-4 {
    animation-delay: -6500ms;
    transform: rotateY(135deg) translateY(-11px) translateZ(-34px) rotateX(-50deg) scaleX(.24) scaleY(.3);
}

.triangle.middle-bottom.face-5 {
    animation-delay: -7500ms;
    transform: rotateY(180deg) translateY(-11px) translateZ(-34px) rotateX(-50deg) scaleX(.24) scaleY(.3);
}

.triangle.middle-bottom.face-6 {
    animation-delay: -8500ms;
    transform: rotateY(225deg) translateY(-11px) translateZ(-34px) rotateX(-50deg) scaleX(.24) scaleY(.3);
}

.triangle.middle-bottom.face-7 {
    animation-delay: -9500ms;
    transform: rotateY(270deg) translateY(-11px) translateZ(-34px) rotateX(-50deg) scaleX(.24) scaleY(.3);
}

.triangle.middle-bottom.face-8 {
    animation-delay: -10500ms;
    transform: rotateY(315deg) translateY(-11px) translateZ(-34px) rotateX(-50deg) scaleX(.24) scaleY(.3);
}

/* Middle-Top */
.triangle.middle-top {
    transform-origin: 50% 100%;
}

.triangle.middle-top.face-1 {
    animation-delay: -2500ms;
    transform: rotateY(22.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg) scaleX(.13) scaleY(-.36);
}

.triangle.middle-top.face-2 {
    animation-delay: -3500ms;
    transform: rotateY(67.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg) scaleX(.13) scaleY(-.36);
}

.triangle.middle-top.face-3 {
    animation-delay: -4500ms;
    transform: rotateY(112.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg) scaleX(.13) scaleY(-.36);
}

.triangle.middle-top.face-4 {
    animation-delay: -5500ms;
    transform: rotateY(157.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg) scaleX(.13) scaleY(-.36);
}

.triangle.middle-top.face-5 {
    animation-delay: -6500ms;
    transform: rotateY(202.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg) scaleX(.13) scaleY(-.36);
}

.triangle.middle-top.face-6 {
    animation-delay: -7500ms;
    transform: rotateY(247.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg) scaleX(.13) scaleY(-.36);
}

.triangle.middle-top.face-7 {
    animation-delay: -8500ms;
    transform: rotateY(292.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg) scaleX(.13) scaleY(-.36);
}

.triangle.middle-top.face-8 {
    animation-delay: -9500ms;
    transform: rotateY(337.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg) scaleX(.13) scaleY(-.36);
}

/* Top */
.triangle.top {
    transform-origin: 50% 0%;
    animation: lighting-lighter 12s infinite linear;
}

.triangle.top.face-1 {
    animation-delay: -3500ms;
    transform: rotateY(22.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg) scaleX(.13) scaleY(.33);
}

.triangle.top.face-2 {
    animation-delay: -4500ms;
    transform: rotateY(67.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg) scaleX(.13) scaleY(.33);
}

.triangle.top.face-3 {
    animation-delay: -5500ms;
    transform: rotateY(112.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg) scaleX(.13) scaleY(.33);
}

.triangle.top.face-4 {
    animation-delay: -6500ms;
    transform: rotateY(157.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg) scaleX(.13) scaleY(.33);
}

.triangle.top.face-5 {
    animation-delay: -7500ms;
    transform: rotateY(202.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg) scaleX(.13) scaleY(.33);
}

.triangle.top.face-6 {
    animation-delay: -8500ms;
    transform: rotateY(247.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg) scaleX(.13) scaleY(.33);
}

.triangle.top.face-7 {
    animation-delay: -9500ms;
    transform: rotateY(292.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg) scaleX(.13) scaleY(.33);
}

.triangle.top.face-8 {
    animation-delay: -10500ms;
    transform: rotateY(337.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg) scaleX(.13) scaleY(.33);
}

/* Sparkles */
.sparkle-wrap-1 {
    position: absolute;
    left: 10px;
    /* top: -65px; */
    filter: drop-shadow(-1px 6px 3px #fff);
}

.sparkle-1 {
    width: 10px;
    height: 50px;
    background-color: #fff;
    opacity: 0;
    clip-path: polygon(50% 0%, 60% 40%, 100% 49%, 60% 60%, 50% 100%, 40% 60%, 0 48%, 40% 40%);
    animation: shine 3s infinite 1.5s ease-in-out;
}

.sparkle-wrap-2 {
    position: absolute;
    /* left: -22px; */
    /* top: 10px; */
    filter: drop-shadow(2px -2px 1px #fff);
}

.sparkle-2 {
    width: 10px;
    height: 50px;
    background-color: #fff;
    opacity: 0;
    clip-path: polygon(50% 0%, 60% 40%, 100% 49%, 60% 60%, 50% 100%, 40% 60%, 0 48%, 40% 40%);
    animation: shine 3s infinite 2s ease-in-out;
}

/* Animations */
.rotor-y {
    animation: spinY 12s infinite linear;
}

@keyframes spinY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/* @keyframes lighting {
    0% {
        border-bottom-color: #33afff;
    }
    50% {
        border-bottom-color: #bbe8ff;
    }
    100% {
        border-bottom-color: #33afff;
    }
}

@keyframes lighting-lighter {
    0% {
        border-bottom-color: #72c8ff;
    }
    50% {
        border-bottom-color: #99eaff;
    }
    100% {
        border-bottom-color: #72c8ff;
    }
} */
@keyframes lighting {
    0% { border-bottom-color: #fff; }
    50% { border-bottom-color: #e6e6e6; }
    100% { border-bottom-color: #fff; }
}

@keyframes lighting-lighter {
    0% { border-bottom-color: #f2f2f2; }
    50% { border-bottom-color: #cfcfcf; }
    100% { border-bottom-color: #f2f2f2; }
}

@keyframes shine {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    6% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}